<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Snp</title>
    <link rel="stylesheet" href="../static/css/Chstyle.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Schoolbell&v1" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

    <script src="../static/js/script.js"></script>
</head>
<body>
<div class="headerb">
    <div class="nav">
        <h1>Astral Travel Community</h1>
    </div>
</div>
<div class="row">
    <div class="col-3 menu">
        <ul>
            <li><a href="/domovhtml" class="btn btn-lg btn-outline-dark grady">Domov</a></li>
            <li><a href="/otvaraciehodiny" class="btn btn-lg btn-outline-dark grady">Otváracie hodiny</a></li>
            <li><a href="/kontakthmtl" class="btn btn-lg btn-outline-dark grady">Kontakt</a></li>
            <li><a href="/datahmtl" class="btn btn-lg btn-outline-dark grady">Data</a></li>
            <li><a href="/edithmtl" class="btn btn-lg btn-outline-dark grady">Edit</a></li>

            <!-- <li><button class="mainButtons btn btn-lg btn-outline-dark grady" type="button" value="Chp1.html">Domov</button></li>
            <li><button class="mainButtons btn btn-lg btn-outline-dark grady" type="button" value="Chp2.html">Otváracie hodiny</button></li>
            <li><button class="mainButtons btn btn-lg btn-outline-dark grady" type="button" value="Chp3.html">Kontakt</button></li> -->
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm" id="otvHodinID">
            <table>
                <tr><th>Sunday</th><td>Closed</td></tr>
                <tr><th>Monday</th><td>9am - 5pm</td></tr>
                <tr><th>Tuesday</th><td>9am - 5pm</td></tr>
                <tr><th>Wednesday</th><td>9am - 5pm</td></tr>
                <tr><th>Thursday</th><td>9am - 5pm</td></tr>

            </table>
            <div id="OpHdiv">
            <img src="../static/img/hodiny.gif" alt="Otvaracie hodinzy " id="OpH">
            </div>

        </div>
    </div>
</div>

</body>
</html>